hr {
    width: 95%;
}

#gallery {
    color:aliceblue;
    width: 75%;
    height: 175px;
    position: absolute;
    background-color: rgba(30, 30, 30,.8);
    border-right: solid 1pt;
}

#galleryWrapper {
    overflow-x: scroll;
    overflow-y:hidden;
}

.sidebarImage {
    max-width: 95%;
    height: auto;
    width: auto\9;
    margin-top: 15px
}

.sidebarImageSection {
    text-align: center;
    margin-left: 10px;
    margin-right: 10px;
}

.gallery-image {
    height: 150px;
    margin-left: 10px;
    margin-right: 10px;
    display: inline-block;
    white-space: nowrap;
    
}

.sidebarTextSection {
    text-align: justify;
    margin-left: 10px;
    margin-right: 20px;
}


#topInfo {
    text-align: center;
    color: aliceblue;
    padding-top: 10px;
}

#galleryBar {
    text-align: center;
    height: 20px;
}

#sidebar {
    background-color: rgba(30, 30, 30,.7);
    position: absolute;
    width: 25%;
    margin-left: 75%;
    overflow: scroll;
}

#sidebarContent {
    color: aliceblue;
}

#dropdown {
    position: absolute;
    z-index: 1000;
    margin-top: 10px;
    margin-left: 50px;
}

#map {
    width: 100%;
    float: left;
}

.control:hover {
    cursor: pointer;
    color: darkorange
}

#titleText {
    margin-bottom:5px;
    margin-top:5px;
    font-size: 14pt;
    font-weight:400;
}

#controlTable {
    text-align: center;
    margin: 0 auto;
}