body {
    margin: 0;
}

.panel {
    color: aliceblue;
    background-color: rgba(30, 30, 30, 0.8);
    margin: 0;
}

#gallery {
    width: 75%;
    height: 175px;
    position: absolute;
}

#galleryWrapper {
    overflow-x: scroll;
    overflow-y:hidden;
}

.ui-accordion {
    margin-left: 5px;
}

.ui-accordion .ui-accordion-content{
    padding: 10px;
}

.ui-accordion-content p {
    margin: 0px;
}

.sidebarImage {
    max-width: 95%;
    height: auto;
    width: auto\9;
    margin-top: 15px
}

.sidebarImageSection {
    text-align: center;
    margin-left: 10px;
    margin-right: 10px;
}

.gallery-image {
    height: 150px;
    margin-left: 10px;
    margin-right: 10px;
    display: inline-block;
    white-space: nowrap;
    
}

.sidebarTextSection {
    text-align: justify;
    margin-left: 10px;
    margin-right: 20px;
}


#topInfo {
    text-align: center;
    padding-top: 10px;
}

#galleryBar {
    text-align: center;
    height: 20px;
}

#sidebar {
    position: absolute;
    width: 25%;
    margin-left: 75%;
    overflow-y: scroll;
    border-left: solid 1pt;
    border-left-color: black;
}


#dropdown {
    position: absolute;
    z-index: 1000;
    top: 18px;
    left: 50px;
}

#map {
    position: absolute;
    width: 100%;
}

.control:hover {
    cursor: pointer;
    color: darkorange
}

.leaflet-container .leaflet-control-attribution {
    visibility: hidden;
}

#titleText {
    margin-bottom:5px;
    margin-top:5px;
    font-size: 14pt;
    font-weight:400;
}

#controlTable {
    text-align: center;
    margin: 0 auto;
}